body {
	font-family: Tahoma;
}
.dropdown {
	text-align: center;
}
/* declare a 7 column grid on the table */
#month_calendar_inner {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}

#month_calendar_inner tr, #month_calendar_inner tbody {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	width: 100%;
	grid-auto-rows: auto 1fr 1fr 1fr 1fr 1fr;
}

#month_calendar_inner #days_of_week {
	height: 40px;
	grid-auto-rows: auto;
}

.season {
	text-align: center;
	margin: 0% 5%;
}
#month_calendar_inner a {
	text-decoration: none;
}
#month_calendar_inner td, #month_calendar_inner th {
	padding: 5px;
	box-sizing:border-box;
	border: 1px solid;
}
#month_calendar_inner #days_of_week th {
	text-align: center;
	text-transform: uppercase;
	line-height: 20px;
	border: none !important;
	padding: 10px 6px;
	font-size: 13px;
}
#month_calendar_inner td {
	min-height: 50px;
	display: flex;
	flex-direction: column;
}
#month_calendar_inner .date {
	text-align: center;
	margin-bottom: 5px;
	padding: 4px;
	width: 20px;
	border-radius: 50%;
	flex: 0 0 auto;
	align-self: flex-end;
}
#month_calendar_inner .event {
	flex: 0 0 auto;
	font-size: 13px;
	border-radius: 4px;
	padding: 5px;
	margin-bottom: 5px;
	line-height: 14px;
	border: 1px solid;
	text-decoration: none;
}
#month_calendar_inner .event-desc {
	margin: 3px 0 7px 0;
	text-decoration: none;
}
#month_calendar_inner .out_of_range .num{
	color: slategrey;
}
#month_calendar_inner .in_range .num{
	color: blue;
}
/* ============================ Mobile Responsiveness ============================*/
@media(max-width: 768px) {
	#month_calendar_inner #days_of_week, #month_calendar_inner .out_of_range {
		display: none;
   }
	#month_calendar_inner li {
		height: auto !important;
		border: 1px solid;
		width: 100%;
		padding: 10px;
		margin-bottom: -1px;
   }
	#month_calendar_inner, #month_calendar_inner tr, #month_calendar_inner tbody {
		grid-template-columns: 1fr;
   }
	#month_calendar_inner tr {
		grid-column: 1 / 2;
   }
	#month_calendar_inner .date {
		align-self: flex-start;
   }
}
